#blog {
  background-color: #e4fdf9;
}
.count-fixer {
  padding-bottom: 120px;
}
.blog-content {
  display: flex;
}
.blog-content:nth-child(2n) img {
  order: 1;
  margin-right: 0;
  margin-left: 30px;
}
.blog-content img {
  margin-right: 30px;
}
.blog-content-text-name {
  margin-top: 60px;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1.25px;
}
.date {
  margin-top: 25px;
  display: flex;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.85px;
  align-items: center;
}
.date p {
  margin-right: 40px;
  margin-left: 10px;
}
.date p:last-child {
  margin-right: 0;
}
.blog-content-text-summary {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.75px;
  margin-top: 25px;
}
