main {
  background-image: url(img/bg/main-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 0 700px rgba(0, 0, 0, 0.75) inset;
}
main .container {
  color: #fff;
  text-align: center;
}
main p {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1.1px;
}
h1 {
  margin: 0;
  padding: 0;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 3px;
  padding-top: 170px;
  padding-bottom: 20px;
}
.buttons {
  margin-top: 105px;
  margin-bottom: 100px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
}
.buttons a {
  color: #fff;
}
.buttons a:hover {
  color: #00897b;
  border-color: #00897b;
}
.buttons a:last-child:hover {
  color: #00897b;
  background-color: #fff;
  border-color: #fff;
}
.services {
  width: 220px;
  border: 3px solid #f8f8f8;
  padding: 20px 0;
  margin-right: 25px;
}
.hire {
  width: 220px;
  background-color: #00897b;
  padding: 20px 0;
  border: 3px solid #00897b;
}
.arrow-down a:hover {
  color: #00897b;
}
